@{
    ViewBag.Title = "Home Page";
}

<table id="tbl_books" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Title</th>
            <th>Publication Date</th>
            <th>Rating</th>
            <th>Pages</th>
            <th>Authors</th>  
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
    </tfoot>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#tbl_books').DataTable();
        });
    </script>
}