@model IEnumerable<BookCataloque.Infrastructure.Business.Models.BookVM>

<div class="well row">
    <form id="filterForm">
        <div class="form-group col-sm-2">
            <div>
                <label>Rating</label>
            </div>
            <div>
                <input type="number" min="1" step="1" class="form-control" id="ratingLowerBound" placeholder="From" data-bind="value: RatingLowerBound">
            </div>
            <div>
                <input type="number" min="1" step="1" class="form-control" id="ratingUpperBound" placeholder="To" data-bind="value: RatingUpperBound">
            </div>
        </div>

        <div class="form-group col-sm-3">
            <label>Publication Date</label>
            <div class="input-group">
                <input type="text" class="form-control datepicker" id="publicationDateLowerBound" placeholder="From" data-bind="value: PublicationDateLowerBound">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <div class="input-group">
                <input type="text" id="publicationDateUpperBound" class="form-control datepicker" placeholder="To" data-bind="value: PublicationDateUpperBound">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>

        <div class="form-group col-sm-3">
            <label>Pages</label>
            <input type="number" min="1" step="1" class="form-control" id="pagesLowerBound" placeholder="From" data-bind="value: PagesLowerBound">
            <input type="number" min="1" step="1" class="form-control" id="pagesUpperBound" placeholder="To" data-bind="value: PagesUpperBound">
        </div>

        <div class="form-group col-sm-4">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Book Title" data-bind="value: Title">
            <button type="submit" class="btn btn-primary btn-block" data-bind="enable: IsValid">Search</button>
        </div>
    </form>
</div>

        <table id="tbl_books" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Publication Date</th>
                    <th>Rating</th>
                    <th>Pages</th>
                    <th>Authors</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        @Scripts.Render("~/bundles/book-search")

        @section scripts {
            <script>

                $(document).ready(function () {
                    BookFilter.Initialize();

                    

                    $('#tbl_books').dataTable({
                        "processing": true,
                        "serverSide": true
                    });
                });
            </script>
        }
