@model IEnumerable<BookCataloque.Infrastructure.Business.Models.BookVM>

<div class="well row">
    <form>
        <div class="form-group col-sm-4">
            <div>
                <label>Rating</label>
            </div>
            <div>
                <input type="number" min="1" step="1" class="form-control" id="ratingLowerBound" placeholder="From">
            </div>
            <div>
                <input type="number" min="1" step="1" class="form-control" id="ratingUpperBound" placeholder="To">
            </div>
        </div>

        <div class="form-group col-sm-4">
            <label>Publication Date</label>
            <div class="input-group" id="publicationDateLowerBound">
                <input type="text" class="form-control datepicker" placeholder="From">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <div class="input-group" id="publicationDateUpperBound">
                <input type="text" class="form-control datepicker" placeholder="To">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>

        <div class="form-group col-sm-4">
            <label>Pages</label>
            <input type="number" min="1" step="1" class="form-control" id="pagesLowerBound" placeholder="From">
            <input type="number" min="1" step="1" class="form-control" id="pagesUpperBound" placeholder="To">
        </div>

        <div class="form-group form-inline col-sm-8">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Book Title">
        </div>
        <div class="col-sm-4">
            <button type="submit" class="btn btn-primary btn-block">Search</button>
        </div>

    </form>
</div>

        <table id="tbl_books" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Publication Date</th>
                    <th>Rating</th>
                    <th>Pages</th>
                    <th>Authors</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        @Scripts.Render("~/bundles/book-grid")

        @section scripts {
            <script>

                $(document).ready(function () {
                    $('.datepicker').datetimepicker({
                        viewMode: 'days',
                        format: 'DD.MM.YYYY'
                    });

                    $('#tbl_books').dataTable({
                        "processing": true,
                        "serverSide": true
                    });
                });
            </script>
        }
